@media screen and (max-width: 768px) {

    main {
        margin-left: 20px;
        margin-right: 75px;
    }



    /*haut de la page*/
    .top {
        margin-right: 115px;

    }

    .bandeau h1 {
        font-size: 26px;
    }

    #marqueur {
        margin-top: 20px;
    }

    .groupe_filtre {
        margin-top: -30px;
    }

    .groupe_filtre h3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .filtre {
        margin-bottom: 20px;
    }



    /*haut de la page*/


    /*populaire*/
    .lespluspopu {
        margin-left: 110px;
        margin-right: 110px;
    }


    .populaire {
        margin-left: 0px;
        margin-bottom: 30px;
        width: 94%;

    }

    #act {
        margin-left: 20px;
        margin-right: -30px;
    }

    .cadre {
        margin-left: 50px;
    }

    /*populaire*/

    /*hebergement*/
    .hebergement {
        width: 94%;
        margin-right: 0px;
    }

    .hebergement h3 {
        margin-left: 40px;
    }

    .contenu {
        margin-left: 10px;
        margin-right: 15px;
    }

    /*hebergement*/


    /*hebergement*/
    #marseille {
        margin-left: -50px;
        margin-right: -45px;
    }

    #activitefort,
    #droite {
        margin: 0px;
    }

    .activiteg {
        width: 295px;
        height: 175px;
        object-fit: cover;
        margin-left: 0px;
    }

    #cadre1 a {
        width: 295px;
        height: 175px;
    }

    .activitegimg {
        width: 295px;
        height: 115px;
        object-fit: cover;
    }

    .activitefrioul {
        width: 295px;
        height: 175px;
        object-fit: cover;
        margin-right: 0px;
    }

    .activitefrioulimg {
        width: 295px;
        height: 115px;
        object-fit: cover;
    }

    .activitefortcadre {
        width: 295px;
        height: 175px;
        object-fit: cover;
    }

    .activitefortcadreimg {
        width: 295px;
        height: 115px;
        object-fit: cover;
    }

    /*hebergement*/

    /*footer*/
    .bas {
        display: flex;
        justify-content: left;
        margin-left: 0px;
        margin-right: 95px;
        font-size: 14px;

    }

    .bas div {
        margin-bottom: 0px;
        margin-right: 30px;
        margin-left: 20px;
        /*footer*/
    }
}


/*portable*/
@media screen and (max-width: 375px) {

    
    
    main {
        margin-left: 7px;
        margin-right: -10px;
        max-width: 375px;
        
    }

    /*Haut de page*/
    #logo img {
        margin-left: -40px;
        width: 30%;

    }

    .top {
        margin-right: 65px;
        /*95px*/
    }

    .ancre {
        margin-left: -150px;
        margin-right: 0px;
        padding: 0px;
        width: 100%;
        display: flex;
    }

    .ancre a {
        margin-left: 0px;
    }

    #act {
        padding-left: 50px;
        padding-right: 55px;
        border-width: 0px 0px 3px 0px;
        border-color: #f2f2f2;
        border-style: solid;
        margin-left: 0px;
    }

    #act:hover {
        border-color: #0065fc;
    }

    #heb {

        padding-left: 50px;
        padding-right: 50px;
        border-width: 0px 0px 3px 0px;
        border-style: solid;
        border-color: #f2f2f2;
    }

    #heb:hover {
        border-color: #0065fc;
    }

    #mob {
        margin-top: 10px;
        margin-left: 80%;
        font-weight: bolder;
    }

    #mob:hover {
        margin-top: -10px;
        margin-left: 70%;
        border-width: 0px 0px 0px 0px;
    }

    #marqueur {
        margin-left: 10px;
        margin-right: 50px;
        
        
    }

    .rechercher {
        border-radius: 25%;
        margin-left: -5px;
    }


    .fas.fa-search {
        color: white;
        margin-top: 0px;
        margin-left: -5px;
        background-color: #0065fc;
        visibility: visible;
    }

    #btnsearch {
        display: none;
    }

    #loupe {
        display: flex;
    }

    .groupe_filtre {
        padding-left: 0px;
        margin-right: 20px;


    }

    .groupe_filtre h3 {
        margin-right: 305px;
    }

    .groupe_filtre div {
        margin-right: 10px;

    }

    .filtre {
        width: auto;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-left: 10px;
        



    }

    .filtre h3 {
        margin-left: 0px;
        margin-right: 0px;
    }



    /*haut de page*/

    /*Les plus populaires*/
    .lespluspopu {
        margin-left: 15px;
        margin-right: 25px;
    }

    .populaire {
        margin-left: -15px;
        width: 370px;
    }

    .cadre {
        margin-left: 13px;
        width: 345px;
        margin-right: 0px;
    }



    .testu1,
    .testu2,
    .testu3,
    img {
        width: 152px;
    }

    /*Les plus populaires*/

    /*hebergement a marseille*/
    .hebergement {
        margin-left: -15px;
        margin-right: 0px;
        width: 370px;
    }

    .hebergement h3 {
        margin-left: 20px;
    }

    .contenu {
        margin-left: 30px;
        margin-right: 0px;
    }

    .cannebiere {
        margin-left: -15px;
        width: 342px;
        height: 195px;
    }

    .cannebiereimg {
        width: 328px;
        height: 120px;
    }

    /*hebergement a marseille*/

    /*Activites a marseille*/

    body {
        margin-right: 0px;

    }

    #marseille h2 {
        margin-left: 50px;
        

    }

    #cadre1 {
        margin-left: 04px;
        margin-right: 0px;

    }

    #marseille {
        width: 370px;
        margin-left: -8px;
        

    }

    #marseille h3 {
        margin-top: -15px;
    }

    .activiteg {
        margin-left: -32px;
        height: 165px;
        width: 340px;

    }

    .activitegimg {
        width: 340px;
        height: 125px;
        margin: 5px;
        border-radius: 15px 15px 0px 0px;

    }

    .activitefortcadre {
        margin-left: -32px;
        width: 340px;
        height: 165px;


    }

    .activitefortcadreimg {
        width: 340px;
        height: 125px;
        margin: 5px;
        border-radius: 15px 15px 0px 0px;
    }

    .activitefrioul {
        margin-left: -32px;
        width: 340px;
        height: 155px;
    }

    .activitefrioulimg {
        width: 340px;
        height: 125px;
        margin: 5px;
        border-radius: 15px 15px 0px 0px;
    }

    /*footer*/

    .bas {
        text-align: left;
        justify-content: left;
        margin-left: -10px;
        margin-right: -5px;

    }

    .bas div {
        margin-right: 90px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    footer.bas {
        margin-top: 30px;
    }

    footer.bas h3 {
        margin-top: 10px;
    }

    footer.bas a {
        margin: 10px 0px 0px;
    }
    


}