/* Définition des polices personnalisées */

@font-face {
  font-family: "Raleway";
  src: url("/Fonts/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

/*Application de la police a l'ensemble du code */
body {
  font-family: "Raleway";
}

/*Header*/

/* Position du logo*/
#logo img {
  margin-top: 20px;
}

/* mise en retrait du body*/
#bloc_page {
  margin: 0px 65px 0px 65px;
}


/* mise en flex */
.top ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: flex-start;
}

/*position liste*/
.top li {
  margin-top: -40px;
  margin-left: 40px;
}

/* Emplacement des liens en haut a droite*/
.top a {
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
}

/*option des liens en haut a droite*/
.top a:hover {
  border-top: 2px solid #0065fc;
  padding: 51px 0px 0px 0px;
}

/*barre de recherche en dessous header*/

#searchbar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 0px;
}

#searchbar,
div {
  display: inline-block;
  height: 50px;
}

.rechercher {
  background-color: #0065fc;
  width: 100px;
  color: #ffffff;
  border-radius: 0px 15px 15px 0px;
  margin-left: -5px;
  height: 40px;
  border: 1px solid #0065fc;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}

#marqueur {
  background-color: #f2f2f2;
  padding-top: 10px;
  height: 30px;
  width: 40px;
  border-radius: 15px 0px 0px 15px;
}

.fas.fa-map-marker-alt {
  margin-left: 15px;

}

input {
  border: 1px solid #f3e7e7;
  height: 40px;
  width: 250px;
  margin-left: -5px;
}

input::placeholder {
  font-weight: bold;
  padding-left: 30px;
  color: black;
  font-size: 18px;
}

/*Section filtres*/


.groupe_filtre {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: -100px;
  margin-bottom: 0px;
  cursor: pointer;
}

.groupe_filtre a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #f3e7e7;
  border-radius: 30px;
  padding-right: 20px;
  text-indent: 1em;
  text-decoration: none;
  
  
}

.groupe_filtre a:hover {
  background-color: #f2f2f2;
  color: #0065fc;
}

.money:hover {
  font-size: 25px;
}

.famille:hover {
  font-size: 25px;
}

.love:hover {
  font-size: 25px;
}

.dogs:hover {
  font-size: 25px;
}


.money, .famille, .love, .dogs {
  color: #0065fc;
  background-color: #deebff;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #deebff;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
/*
.famille {
  color: #0065fc;
  background-color: #deebff;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #deebff;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}

.love {
  color: #0065fc;
  background-color: #deebff;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #deebff;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}

.dogs {
  color: #0065fc;
  background-color: #deebff;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #deebff;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
*/
.groupe_filtre h2 {
  margin-top: 25px;
  font-weight: bold;
  margin-left: 100px;
}



/*infobulle*/

.groupe_info {
  display: flex;
  margin-bottom: 30px;
}

.infos {
  margin-top: 12px;
  border: 2px solid #deebff;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.infos i {
  padding-left: 7px;
  color: #0065fc;

}

.groupe_info span {
  padding-top: 15px;
  text-indent: 1em;
}

/*Cadre herbergement*/

/*hebergements marseille */

#herbergements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hebergement {
  width: 65%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-right: 70px;
}

.hebergement h3 {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hebergement p {
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bolder;

}

.hebergement em {
  font-style: normal;
  padding-left: 10px;
  margin-top: 10px;
}

.note {
  display: flex;
  padding-left: 10px;
  padding-top: 5px;
  height: 30px;
}

.cannebiere {
  display: inline-block;
  height: auto;
  width: 25%;
  border-radius: 20px;
  background-color: #ffffff;
  margin-left: 55px;
  margin-bottom: 40px;
  margin-right: 15px;
  box-shadow: 2px 2px 2px 2px rgb(236 229 229);
}

.cannebiere img {
  width: 97%;
  border-radius: 20px 20px 0px 0px;
  padding: 3px;
}

.fas.fa-star {
  color: #0065fc;
}

.vide.fas.fa-star {
  color: #c3c3c3;
}

.affichez {
  text-decoration: none;

}


.affichez h3 {
  margin-top: 8px;
  text-decoration: none;
  color: #000103;
  margin-left: 60px;
  font-size: 16px;
  margin-bottom: 30px;
}

/* Les Plus Populaires*/

.populaire {
  width: 35%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 15px;
  height: auto;
  
}

.fa-chart-line:before {
  font-size: 24px;
}

.bandedroite {
  display: flex;
  justify-content: space-between;
}

.bandedroite h3 {
  padding-left: 75px;
  margin-top: 30px;
}

.bandedroite i {
  padding-top: 30px;
  padding-right: 80px;
}

.cadre {
  display: flex;
  width: 75%;
  margin-left: 75px;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  height: 152px;
  margin-top: 35px;
  box-shadow: 2px 2px 2px 2px rgb(236 229 229);
}

.cadre img {
  width: 200px;
  height: 145px;
  border-radius: 20px 0px 0px 20px;
  padding: 3px;
  object-fit: cover;
}

.test {
  padding-left: 30px;
  height: auto;
}

.test i {
  padding-top: 15px;
  font-size: 14px;
}

/*Activités à Marseille*/

.marseille {
  margin: 50px 0px 30px 0px;
}

.activites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:auto;
  
}

#activites b {
  margin-left: 20px;
}

#activites img {
  margin-bottom: 10px;
}

.activites_marseille {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.cadre1 {
  width: 80%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgb(236 229 229);
  height: 70%;
  margin-right: 70px;
}

.cadre1 img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.cadre_colonne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 50%;
}

.cadre2 {
  margin-right: 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgb(236 229 229);
  height: 50%;
  width: 125%;
}

.cadre2 img {
  border-radius: 15px 15px 0px 0px;
  height: 80%;
  width: 100%;
  object-fit: none;
}

.cadre3 {
  margin-right: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgb(236 229 229);
  height: 40%;
  width: 125%;
}

.cadre6 {
  width: 40%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgb(236 229 229);
  height: 70%;
  margin-left: 130px;
  margin-right: 70px;
}

.cadre6 img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.cadre3 img {
  border-radius: 15px 15px 0px 0px;
  height: 75%;
  width: 100%
}


.cadre4 {
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgb(236 229 229);
  height: 45%;
}

.cadre4 img {
  border-radius: 15px 15px 0px 0px;
  height: 80%;
  width: 100%
}

.cadre5 {
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgb(236 229 229);
  height: 45%;
}

.cadre5 img {
  border-radius: 15px 15px 0px 0px;
  height: 80%;
  width: 100%;
  object-fit: none;
}

/*footer*/

footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  margin-top: 90px;
  
}

footer div{
  margin-right: 300px;
}

footer h3 {
  margin-left: 40px;
  margin-top: 50px;
}

footer li{
  list-style-type: none;
  margin-top: 15px;
} 
  
  