@font-face {
  font-family: "Raleway";
  src: url("/Fonts/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

/*Application de la police a l'ensemble du code */
body {
  font-family: "Raleway";
}

/*taille police*/
h2 {
  font-size: 22px;
  font-weight: 900;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 16px;
}

/*dimension de la page*/

header,
main {
  margin-left: 70px;
  

}

/*Header*/


/* Position du logo*/
#logo img {
  margin-top: 20px;
}

/* Emplacement des liens en haut a droite*/
a {
  color: inherit;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.top {
  margin: -67px 5% 30px 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.ancre {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
}

.ancre a {
  margin-left: 40px;
}

#heb {
  padding: 30px 0px;
  border-width: 2px 0px 0px 0px;
  color: #0065fc;
}

#heb:hover {
  border-style: solid;
  margin-top: -2px;
}

#act {
  padding: 30px 0px;
  border-width: 2px 0px 0px 0px;
  color: #0065fc;
}

#act:hover {
  border-style: solid;
  margin-top: -2px;
}

#mob {
  padding: 30px 0px;
  border-width: 2px 0px 0px 0px;
  color: #0065fc;
}

#mob:hover {
  border-style: solid;
  margin-top: -2px;
}

/*<!--Fin du header-->*/

/*barre de recherche en dessous header*/
#marqueur {
  display: flex;
  margin-bottom: 40px;
  margin-top: 20px;
}

.barresearch {
  font-size: 18px;
  outline: none;
  border-width: 1px;
  width: 235px;
  margin-left: 50px;
  border-color: #f2f2f2;
  border-style: solid;
  height: 50px;
}

input::placeholder {
  font-weight: bold;
  padding-left: 30px;
  color: black;
  font-size: 16px;
}

.rechercher {
  background-color: #0065fc;
  font-size: 18px;
  outline: none;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  max-width: 135px;
  border-radius: 0px 20px 20px 0px;
  height: 50px;
}

.fas.fa-map-marker-alt {
  color: black;
  width: 20px;
  height: 13px;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 0px;
  vertical-align: middle;
  position: absolute;
  padding: 25px 15px 12px;
  
}

.fas.fa-search {
  visibility: hidden;
}

/*barre de recherche en dessous header*/

/*Section filtres*/


.groupe_filtre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 30px;
}

.groupe_filtre div,
h3 {
  margin-right: 35px;
}

.filtre {
  cursor: pointer;
  z-index: 1;
  height: 50px;
  padding-left: 60px;
  padding-right: 10px;
  border: #f2f2f2;
  border-width: medium;
  border-style: solid;
  border-radius: 30px;
}

.filtre:hover {
  background-color: #f2f2f2;
  color: #0065fc;
  font-size: 20px;
}

.filtre h3 {
  margin-top: 20px;
  margin-left: 10px;
}

.money:hover,
.famille:hover,
.love:hover,
.dogs:hover {
  font-size: 25px;
}

.money i,
.famille i,
.love i,
.dogs i {
  
  margin-top: 0px;
  margin-left: -60px;
  color: #0065fc;
  background-color: #deebff;
  width: 50px;
  height: 26px;
  padding: 25px 0px 0px 0px;
  line-height: 0px;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  
}

/*Section filtres*/

/*infobulle*/
.dispo {
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fas.fa-info-circle {
  margin-top: 0px;
  width: 8px;
  height: 8px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: #0065fc;
  background-color: #deebff;
}
/*infobulle*/


/*hebergements marseille */
#herbergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: left;
}

.hebergement {
  border-radius: 15px 15px 15px 15px;
  width: 62%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-right: 40px;
}

.hebergement h3 {
  margin-left: 60px;
  margin-top: 30px;
}

.tarif {
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 16px;

}

.contenu {
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
}

.cannebiere {
  width: 290px;
  height: 240px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.cannebiereimg {
  padding: 5px;
  width: 275px;
  height: 160px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  margin: auto;
  display: block;
  object-fit: cover;
}

.note i {
  color: #0065fc;
  background-color: #deebff;
  margin-left: -1px;
  margin-top: 5px;
  background-color: transparent;
}

.vide.fas.fa-star {
  color: #c3c3c3;
}

.descriptif {
  margin-top: -10px;
  line-height: 0%;
  font-size: 14px;
  margin-left: 15px;
  max-width: 180px;
}

.affichez h3 {
  text-decoration: none;
  color: #000103;
  margin-left: 60px;
  font-size: 16px;
  margin-top: 0px;
}
/*hebergements marseille */

/* Les Plus Populaires*/
.populaire {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-left: 45px;
}

.fa-chart-line:before {
  font-size: 24px;
  margin-right: 70px;
}

.bandedroite {
  display: flex;
  justify-content: space-between;
}

.bandedroite h3 {
  padding-left: 75px;
  margin-top: 30px;
}

.bandedroite i {
  padding-top: 30px;
  color: black;
  background-color: #f2f2f2;
  margin-left: 28%;
  margin-top: 25px;
  border-radius: 0;
  padding: 0;
  }

.cadre {
  width: auto;
  height: 165px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 25px;
}

.testu1 {
  width: 180px;
  height: 165px;
  overflow: hidden;
  margin: 5px 10px 5px 5px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.testu2 {
  width: 180px;
  height: 165px;
  overflow: hidden;
  margin: 5px 10px 5px 5px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.testu3 {
  width: 180px;
  height: 165px;
  overflow: hidden;
  margin: 5px 10px 5px 5px;
  margin-left: 5px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.test {
  margin-top: 0px;
  font-size: 16px;
  max-width: 160px;
  margin-left: -40px;
}

.test h4 {
  margin-bottom: 0px;
}

.stars i {
  color: #0065fc;
  background-color: #deebff;
  margin-left: -1px;
  margin-top: 25px;
  background-color: transparent;
  font-size: 14px;
}

/* Les Plus Populaires*/



/*Activités à Marseille*/
#marseille {
  margin-left: -90px;
}

#marseille h2 {
  margin-top: 30px;
  margin-left: 90px;
}

.texte {
  margin-left: 15px;
  margin-top: 10px;
}

#cadre1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.activiteg {
  width: 360px;
  height: 440px;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  object-fit: cover;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  
}

.activitegimg {
  width: 360px;
  height: 390px;
  border-radius: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

#activitefort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
  
}

.activitefortcadre {
  
  width: 360px;
  height: 230px;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  object-fit: cover;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  margin-left: -35px;
}

.activitefortcadreimg {
  width: 360px;
  height: 180px;
  border-radius: 0px;
  object-fit: cover;
}

.activitefrioul {
  margin-bottom: 10px;
  width: 360px;
  height: 170px;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  object-fit: cover;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  margin-left: -35px;
}

.activitefrioulimg {
  width: 360px;
  height: 120px;
  border-radius: 0px;
  object-fit: cover;
}

#droite {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
  margin-right: 35px;
}
/*Activités à Marseille*/




/*footer*/
.bas {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
  align-items: flex-start;

}

.bas a {
  color: inherit;
  text-decoration: none;
}

.bas div {
  margin-top: 1%;
  margin-bottom: 40px;
  margin-right: 20%;
  margin-left: 70px;
}

.propos {
  display: flex;
  flex-direction: column;
}

.nos {
  display: flex;
  flex-direction: column;
}

.assis {
  display: flex;
  flex-direction: column;
}

/*footer*/