/* Définition des polices personnalisées */

@font-face {
  font-family: "Raleway";
  src: url("/Fonts/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

/*Application de la police a l'ensemble du code */
* {
  font-family: "Raleway";
}

/*Header*/

#logo img {
  margin-left: 45px;
  margin-top: 20px;
}

.top ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: flex-start;
}

.top li {
  margin-top: -40px;
  margin-right: 40px;
}

.top a {
  text-decoration: none;
}

a:hover {
  text-decoration-line: overline;
}
